<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/static/css/game.css" rel="stylesheet">
  </head>

  <body>

    <section class="hero is-fullheight">

      <div id="app" class="hero-body">
        <div class="container">


          <div class="column is-4 is-offset-4">

            <div v-if="spectator" class="notification">
              SPECTATOR MODE
            </div>


            <div v-if="finished">
              <div v-if="winner">
                Winner: {{ winner.username }}. You'll be redirected in a moment.
              </div>
              <div v-else>
                Game ended in a draw. You'll be redirected in a moment.
              </div>
            </div>
            <div v-else>
              Next move: {{ next.username }}
            </div>

            <tictactoe v-bind:state="state" v-on:cell-clicked="move"></tictactoe>
          </div>
        </div>
      </div>
    </section>

    <template id="tictactoe">
      <table class="table is-bordered game">
        <tr v-for="(row, row_idx) in this.state.board">
          <td v-for="(cell, cell_idx) in row" @click="cellClicked(row_idx, cell_idx)">
            {{ cell }}
          </td>
        </tr>
      </table>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="/static/js/game_room.js"></script>

  </body>
</html>
