<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/index.css" rel="stylesheet">
  </head>

  <body>

    <div id="app">

   	  <nav class="navbar" role="navigation" aria-label="main navigation">
      	<div class="navbar-brand">
          <div class="buttons">
            <a href="/logout" v-if="user">
              <button id="signin-button" class="button is-primary">Sign out</button>
            </a>
            <a href="/login" v-else>
              <button id="signin-button" class="button is-primary">Sign in</button>
            </a>
          </div>
        </div>
      </nav>

      <section class="sassy-stats">

        <div class="container">
          </br>
          Total games played: {{ gameStats.total_games_played }}
          </br>
          Games ongoing: XXX

          <p v-if="user">
            You played {{ gameStats.user_games_played }} games so far
            </br>
            You won {{ gameStats.user_games_won }} games so far
          </p>
          <p v-else>
            Sign in to see your stats!
          </p>
        </div>

      </section>

      </br>
      </br>

      <section id="start-new-game" v-if="user">
        <div class="container">
          Start a new game
          <select v-model="gameSelected.codename">
            <option v-for="game in gamesAvailable" :value="game.codename">
              {{ game.name }}
            </option>
          </select>
          and play against
          <select v-model="opponentSelected.type">
            <option v-for="opponent in opponentsAvailable" :value="opponent.type">
              {{ opponent.name }}
            </option>
          </select>
          <button class="button is-primary" @click="startNewGame">Start!</button>
        </div>
      </section>

      <section id="spectate-games">
        <div class="container">
          <p>
            Spectate Game
          </p>
        </div>
      </section>

      <section id="pending-games" v-if="user">
        <div class="container">
          <p>
            Join Game
          </p>
          <input type="text" placeholder="search by username" v-model="pendingFilter"/>

          <table class="table">
            <tr>
              <th>Host</th>
              <th>Game</th>
              <th></th>
            </tr>
            <tr v-for="game in visiblePendingGames">
              <td>{{ game.host_username }}</td>
              <td>{{ game.game.name }}</td>
              <td>
                <button class="button is-small" @click="joinGame(game.game_id)">Join</button>
              </td>
            </tr>
          </table>
        </div>
      </section>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="/static/js/index.js"></script>

  </body>
</html>
